<div class="col-md-offset-4 col-md-4">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">User Login</h3>
	  </div>
	  <div class="panel-body">
	    <form>
	      <div class="form-group">
		 <label for="frmUserName">Username</label>
		 <input type="text" class="form-control" id="frmUserName" v-model="newUser.first_name" placeholder="Enter username">
	     </div>
	     <div class="form-group">
		 <label for="frmPassword">Password</label>
		  <input type="password" class="form-control" id="frmPassword" v-model="newUser.password" placeholder="Enter password">
	     </div>
	     <button type="submit" class="btn btn-primary">Login</button>
	   </form>
	  </div>
	</div>
</div>
